body {
   background-color: #232323;
   margin: 0;
   font-family: bahnschrift, sans-serif;
}

h1 {
   color: white;
   text-align: center;
   background-color: steelblue;
   margin: 0;
   font-size: 2rem;
   font-weight: lighter;
   text-transform: uppercase;
   line-height: 1.1;
   padding: 20px 0;
}

/*styling the squares - they take up 30% of the width of the element that they are inside: the div with ID 'container'*/
.square {
   width: 30%;
   background-color: purple;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 15%;
   transition: background-color 0.5s;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
}

#container {
   max-width: 600px;
   margin: 20px auto;
}

#stripe {
   background-color: white;
   height: 40px;
   display: flex;
   justify-content: center;
}

#controls {
   width: 600px;
   padding: 0 5%;
   display: flex;
   justify-content: space-between;
}

.selected {
   background-color: steelblue;
   color: white;
}

#colourHeading {
   font-size: 200%;
}

button {
   background: none;
   border: none;
   text-transform: uppercase;
   height: 100%;
   font-weight: 700;
   color: steelblue;
   letter-spacing: 1px;
   font-size: inherit;
   transition: all 0.6s; /*Adds fade in-out transition on button press*/
   -webkit-transition: all 0.6s;
   -moz-transition: all 0.6s;
   outline: none; /*removes outline from button*/
}

button:hover {
   color: white;
   background-color: steelblue;
}

#message {
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
   width: 100%;
   color: white;
   font-size: 2.5rem;
}

@media (max-width: 500px) {
   h1 {
      font-size: 1.7rem;
   }
   #colourHeading {
      font-size: 125%;
      color: black;
   }
   #stripe {
      height: 60px;
      font-size: 0.9rem;
   }
   #level {
      width: 70%;
   }
   #message {
      font-size: 1.5rem;
   }
}
